<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
      <% include Partials/links.ejs %>
      <link rel="shortcut icon" href="Scripts/app.js">
  </head>
  <body>
  <!--navbar from bootstrap-->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
  <nav class="navbar bg-body-tertiary">
  <!--image in navbar from bootstrap-->
  <!--creates a class for the image-->
  <div class="container">
    <!--creates another class that specificly identifies the image on the navbar-->
    <a class="navbar-brand" href="/home">
      <!--sets the image along with its respective weight and height-->
      <img src="/Assets/images/logo.png" alt="" width="40" height="40">
    </a>
  </div>
  <!--code for image in navbar from bootstrap ends-->
  <% include Partials/navbar.ejs %>
<main>
<!--puts the title of the webpage near the top-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= title %></h1>
  </div>
</div>
<!--if statement for when the title screen is Home. Everything underneath this will be displayed; Else, something else is displayed (applies to next 4 if statement)-->
<% if (title == "Home") { %>
    <% include Partials/home.ejs %>
<% } %>
<% if (title == "About Me") { %>
    <% include Partials/about.ejs %>
<% } %>
<% if (title == "Projects") { %>
    <% include Partials/projects.ejs %>
<% } %>
<% if (title == "Contact Me") { %>
    <% include Partials/contact.ejs %>
<% } %>
  <!--everything in the footer goes here-->
    <footer>
        <% include Partials/footer.ejs %>
    </footer>
</main>
  </body>
</html>
