<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel='stylesheet' href='Content/style.css' media="only screen and (min-width:960px)" />
    <link rel='stylesheet' href='Content/tablet.css' media="only screen and (min-width:481px) and (max-width:960px)" />
    <link rel='stylesheet' href='Content/phone.css' media="only screen and (max-width:480px)" />
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </head>
  <body>
  <!--navbar from bootstrap-->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
  <nav class="navbar bg-body-tertiary">
  <!--image in navbar from bootstrap-->
  <!--creates a class for the image-->
  <div class="container">
    <!--creates another class that specificly identifies the image on the navbar-->
    <a class="navbar-brand" href="/home">
      <!--sets the image along with its respective weight and height-->
      <img src="/Assets/images/logo.png" alt="" width="40" height="40">
    </a>
  </div>
  <!--code for image in navbar from bootstrap ends-->
</nav>
    <!--creates a class for the navbar buttons along with its respective properties-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!--creates a class for the toggler on the navbar-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--creates a class for the first button called nav item-->
        <li class="nav-item">
        <!--if statement is created for when the home page is displayed. If title is Home, link will be darker than the rest; Else, light (applies to the next 3 if statements)-->
        <% if (title == "Home") { %>
          <a class="nav-link active" aria-current="page" href="/home">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/home">
        <% } %>
          <i class="fa-solid fa-house fa-lg"></i> Home</a>
        </li>

        <li class="nav-item1">
        <% if (title == "About Me") { %>
          <a class="nav-link active" aria-current="page" href="/about">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/about">
        <% } %>
          <i class="fa-solid fa-address-card fa-lg"></i> About Me</a>
        </li>

        <li class="nav-item2">
        <% if (title == "Projects") { %>
          <a class="nav-link active" aria-current="page" href="/projects">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/projects">
        <% } %>
          <i class="fa-solid fa-diagram-project fa-lg"></i> Projects</a>
        </li>

        <li class="nav-item3">
        <% if (title == "Contact Me") { %>
          <a class="nav-link active" aria-current="page" href="/contacts">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/contacts">
        <% } %>
          <i class="fa-solid fa-phone fa-lg"></i> Contact Me</a>
        </li>
    </div>
  </div>
</nav>
<main>
<!--puts the title of the webpage near the top-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= title %></h1>
  </div>
</div>
<!--if statement for when the title screen is Home. Everything underneath this will be displayed; Else, something else is displayed (applies to next 4 if statement)-->
<% if (title == "Home") { %>
    <% include Partials/home.ejs %>
<% } %>
<% if (title == "About Me") { %>
    <% include Partials/about.ejs %>
<% } %>
<% if (title == "Projects") { %>
    <% include Partials/projects.ejs %>
<% } %>
<% if (title == "Contact Me") { %>
    <% include Partials/contact.ejs %>
<% } %>
  <!--everything in the footer goes here-->
    <footer>
        <!--footer image which will be displayed in the middle of the footer-->
        <div class="footerImg">
            <img src="/Assets/images/logo.png" alt="" width="40" height="40">
        </div>
        <!--message displayed below the footer photo-->
        <h4>My name is Zach D'Angelo
            <!--copyright message in the bottom left-->
            <p>
                2023 by <a href="https://mail.google.com/mail/u/0/#inbox?compose=VpCqJVFWCBZXdzKnmXpMZLrKwXNvTSrZFFDFwQQLkmhWkcPRxxPQDhLpkvdHlGJFXRBQjSb">zachary.dangelo@ontariotechu.net<br></a>
                Github: <a href="https://github.com/Zach21591">Zach21591<br></a>
                Linkdin: None
            </p>
        </h4>
    </footer>
</main>
  </body>
</html>
