@charset "UTF-8";
/*imports the font that I used for the webpage*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#282DFA, black);
    min-height: 100vh;
}

header{
    background-color: #1EE68C;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    background-color: #1EE68C;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 a{
    margin-top: 5px;
    min-height: 10px;
    margin-left: 60px;
    display: inline-flex;
    font-family: "Black Ops One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #BA03FF;
    padding: 0px 3px;
}

.photoIcon img{
    width: 50px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 5px;
}

.footerImg img{
    width: 50px;
    height: auto;
    top: 15px;
    left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

h2{
    margin-top: 10px;
    min-height: 30px;
    margin-right: 40px;
    float: right;
    font-family: "Black Ops One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #E34E02;
    padding: 0px 3px;
}

h3{
    font-family: "Black Ops One", sans-serif;
    color: #FAEE0F;
    font-size: 100px;
    margin-top: 200px;
    margin-left: 50px;
}

h3 span{
    color: #E34E02;
    margin-top: -10px;
    margin-left: 0px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

video{
    margin-top: -20px;
    margin-left: 290px;
}

.aboutMeTitle,.projectsTitle {
    font-family: "Black Ops One", sans-serif;
    color: #FAEE0F;
    font-size: 75px;
    text-align: center;
    width: 100%;
    float: none;
}

.logoForContact img{
    width: 75px;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

form{
    background-color: #BA03FF;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
}

p span{
    color: red;
}

footer h4{
    text-align: center;
    font-family: "Black Ops One", sans-serif;
}

footer h4 p{
    text-align: left;
    margin-left: 5px;
}

form p label{
    font-family: "Black Ops One", sans-serif;
}

aside p{
    font-family: "Black Ops One", sans-serif;
    font-size: 24px;
    color: #E34E02;
    float: right;
    margin-top: -230px;
    margin-right: 250px;
    

}

aside p span{
    color: #FAEE0F;
}

#row1{
    background-image: linear-gradient(#e34e02, black 65%);
}

#row1 .letterCount{

}

#row1 aside p{
    margin-top: -200px;
}