<video id="video" controls width="400"  height="350" poster="/Assets/images/WebScriptThumbnail.png">
            <source src="/Assets/videos/About-Me-Video.mp4" type="video/mp4">
            <source src="/Assets/videos/About-Me-Video.ogv" type="video/ogv">
        </video>
        <div class="myPhoto">
            <img src="/Assets/images/myPhoto.png" alt="">
        </div>
        <aside>
            <p>Name: <span>Zach D'Angelo</span><br>Univeristy/College: <span>Ontario Tech University</span><br>Year: <span>2</span><br>Hobbies: <span>Watching Hockey and Basketball</span></p>
        </aside>