<!--anything in the video section goes here-->
<!--sets the id of the video, along with its size and the thumbnail of the video-->
<video id="video" controls width="400"  height="350" poster="/Assets/images/WebScriptThumbnail.png">
            <source src="/Assets/videos/About-Me-Video.mp4" type="video/mp4">
            <source src="/Assets/videos/About-Me-Video.ogv" type="video/ogv">
        </video>
        <!--creates the image that will be in the video section-->
        <div class="myPhoto">
            <img src="/Assets/images/myPhoto.png" alt="">
        </div>
        <aside>
            <!--this will be written on the video section-->
            <p>Name: <span>Zach D'Angelo</span><br>Univeristy/College: <span>Ontario Tech University</span><br>Year: <span>2</span><br>Hobbies: <span>Watching Hockey and Basketball</span></p>
        </aside>