<form action="zachary.dangelo@ontariotechu.net" enctype="text/plain" method="post" name="contactForm">
            <!--form will ask for your name which is required-->
            <p>
                <label for="name">Your Name: <span>*</span><br></label>
                <input type="text" name="name" size="50" placeholder="Enter Name" required>
            </p>
            <!--form will ask for your email which is required-->
            <p>
                <label for="email">Your Email: <span>*</span><br></label>
                <input type="email" name="email" size="50" placeholder="Enter Email" required>
            </p>
            <!--form will ask for a message/feedback-->
            <p>
                <label for="message">Message:<br></label>
                <textarea name="message" cols="47" rows="10" placeholder="Enter any feedback"></textarea>
            </p>
            <!--form will display a submit button for when you finsished the form-->
            <p>
                <div class="submitButton">
                    <input type="submit" value="Submit"/>
                </div>
            </p>
        </form>
        <!--form ends here-->
    </body>