<div id="row1">
            <!--image of the project talked about-->
            <div class="letterCount">
                <img src="/Assets/images/LetterCounterPhoto.png" alt="">
            </div>
            <aside>
                <!--the description of the project-->
                <p>
                    The photo is the outcome from my python<br>
                    project called the letter counter. A file<br>
                    is placed in the same folder as the actual code.<br>
                    The codes job is to gather all the letters and<br>
                    print out how many times a letter is displayed<br>
                    within the text.
                </p>
            </aside>
        </div>
        <!--everything below is in that specific row of the webpage-->
        <div id="row2">
            <!--image of the project talked about-->
            <div class="calculator">
                <img src="/Assets/images/CalculatorPhoto.png" alt="">
            </div>
            <aside>
                <!--the description of the project-->
                <p>
                    The photo is the outcome from my python<br>
                    project called the calculator. The user is<br>
                    asked about whether it wants to use addition,<br>
                    subtraction, multiplication, or division. The<br>
                    user enters what they want, which will then be<br>
                    proceeded with the program asking you to enter two<br>
                    numbers. The program will end and display all the<br>
                    answers when "STOP" or "stop" is entered.
                </p>
            </aside>
        </div>
        <!--everything below is in that specific row of the webpage-->
        <div id="row3">
            <!--image of the project talked about-->
            <div class="bmiCalc">
                <img src="/Assets/images/BMICalcPhoto.png" alt="">
            </div>
            <aside>
                <!--the description of the project-->
                <p>
                    The photo is the outcome from my python<br>
                    project called the BMI Calculator. A window<br>
                    is displayed and will have the user enter the<br>
                    height and weight. The program will than use a<br>
                    specific formula to calculate whether the person<br>
                    is underweight, perfectly healthy, or overweight.
                </p>
            </aside>
        </div>